:root{
  font-size: 62.5%; 
  --mainFont: 'Plus Jakarta Sans', sans-serif;
  --mainFontSize: 1.8rem;
  --fsTitle1: 3.6rem;
  --fsTitle2: 3rem;
  --fsTitle3: 2.5rem;
  --fsTitle4: 2rem;
  --lineHeight : 1.2;
  --green : #35756C;
  --yellow : #cfb84e;
  --blue : #7ABCB3;
  --cream : #E4EDB9;
  --black : #333;
  background-color: var(--black);
  scroll-behavior: smooth;
 }
 