.typeContainer label{
  width: 30%;
}

.typeContainer label img{
      width: 80%;
      }

.frequencyContainer label{
  width: 40%;
  margin: 1rem;
  
}


//MEDIAQUERIES////////////////////////////////
//VERSION TABLETTE*850px
@media screen and (max-width:850px) {
  .typeContainer label{
    width: 40%;
  }
  .typeContainer label img{
    width: 90%;
    }
  
  .frequencyContainer label{
    width: 60%;
    }
    }
    //VERSION Mobile*400px
    @media screen and (max-width:400px) { 
      .typeContainer label{
        width: 60%;
      }
      }
    
      //VERSION Small Mobile*250px
    @media screen and (max-width:250px) {
      .typeContainer label img{
        width: 100%;
        }
      }